<!doctype html>
<html lang="en" ng-app="friendsgivingApp">
    <head>
        <title>Friendsgiving</title>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
        <script type='text/javascript' src='angular.min.js'></script>
        <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script type='text/javascript' src='angularfire.min.js'></script>
        <script type='text/javascript' src='fg-client.js'></script>
    </head>
    <body>
        <div class="container">
            <h1 class="span4 offset4">Friendsgiving</h1>
            <p class="span6 offset3 header-text">You are invited to the second annual friendsgiving celebration at the Utecht's house on Saturday November 23rd starting at 6pm.</p>
            <div class="row-fluid" id="list-holder">
                <div ng-controller="rsvpController" class="span5 offset1 lists">
                    <p>If you are attending please fill the form out below, so everyone can see what you are bringing.</p>
                    <span><strong>{{attending()}}</strong> people attending</span>
                    <form ng-submit="addRSVP()">
                        <input type="text" ng-model="name" size="30" placeholder="Your name">
                        <input type="text" ng-model="food" size="30" placeholder="What you are bringing">
                        <input class="btn-success" type="submit" value="RSVP">
                    </form>
                    <ul ng-repeat="rs in rsvps">
                        <li><strong>{{rs.name}}</strong></li>
                        <li>{{rs.food}}</li>
                    </ul>
                </div>
                <div ng-controller="ideaController" class="span5 lists">
                    <p>Is there something you want to eat but don't want to cook, suggest it below and someone else might step up.</p>
                    <form ng-submit="addIdea()">
                        <input type="text" ng-model="idea" size="30" placeholder="Your idea">
                        <input class="btn-warning" type="submit" value="Add Idea">
                    </form>
                    <ul ng-repeat="idea in ideas">
                        <li class="taken-{{idea.taken}}">
                            <input type="checkbox" ng-model="idea.taken">
                            <span>{{idea.idea}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <p id="footer">Need to change info on here or have a problem, get in touch with Joseph</p>
        </div>
    </body>
</html>
